*{
    padding: auto;
    margin: auto;
}


.navbar-brand img{
    height: 60px;
    width: 60px;
    border-radius: 10%;
}

.carousel-item img{
    width: 100px;
    height: 500px;
}

section{
    height: 90%;
    width: 90%;
    padding-top: 20px;
}